*{
    margin: 0;
    padding: 0;
}
.main__container{
    background: linear-gradient(to right , #833ab4, #fd1d1d , #fcb045);
    background-size: 400% 100%;
    animation: BackgroundAnimation 60s ease infinite;
    height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
@keyframes BackgroundAnimation {
	0% {
		background-position-x: 0%;
	}
	50% {
		background-position-x: 100%;
	}
	100% {
		background-position-x: 0%;
	}
}
.AN__clock{
	border-radius: 50%;
	border: 1rem solid #ffffff;
	position: relative;
	transform: rotate(90deg);
}
.AN__clock--point--container{
	width: 100%;
	height: 100%;
    position: relative;
}
div[class *="AN__clock__points"]{
	width: .5rem;
	height: 1.5rem;
	background: #ffffff;
	position: absolute;
}
.AN__clock__points--main{
	width: 1rem !important;
	height: 2.3rem !important;
}
.point--number--1{left: 7%; rotate: -60deg; top: 24%;}
.point--number--2{left: 25%; rotate: -30deg; top: 6%;}
.point--number--3{right: calc(50% - .5rem); top: -3px;}
.point--number--4{right: 25%; rotate: 30deg; top: 6%;}
.point--number--5{right: 7%; rotate: 60deg; top: 24%;}
.point--number--6{right: 0; rotate: 90deg; top: calc(50% - 1rem);}
.point--number--7{right: 7%; rotate: -60deg; bottom: 24%;}
.point--number--8{right: 25%; rotate: -30deg; bottom: 6%;}
.point--number--9{right: calc(50% - .5rem); bottom: -3px;}
.point--number--10{left: 25%; rotate: 30deg; bottom: 6%;}
.point--number--11{left: 7%; rotate: 60deg; bottom: 24%;}
.point--number--12{left: 0; rotate: -90deg; top: calc(50% - 1rem);}
.hour__arrow--container , .minute__arrow--container , .second__arrow--container{
	position: absolute;
	height: 1rem;
	top: calc(50% - .5rem);
    transition: all .9s ease-in;
}
.hour__arrow--container{
	width: 60%;
	right: 20%;
}
.minute__arrow--container{
	width: 86%;
	right: 7%;
}
.second__arrow--container{
	width: 90%;
	right: 5%;
}
.hour__arrow{
	width: 50%;
	height: 1rem;
	background: #ffffff;
	border-radius: 5px;
}
.minute__arrow{
	width: 57%;
	height: 1rem;
	background: #ffffff;
	border-radius: .5rem;
}
.second__arrow{
	width: 60%;
	height: .3rem;
    translate: 0 calc(.7rem / 2);
	background: #ffffff;
}
.center__point{
    width: 4rem;
	height: 4rem;
	background: #ffffff;
	border-radius: 50%;
	position: absolute;
	right: calc(50% - 2rem);
	top: calc(50% - 2rem);
}
@media (max-width: 667px){
    :root{
		font-size: 6px;
    }
}
@media (min-width: 668px) {
    :root{
		font-size: 10px;

    }
}
@media (min-width: 1100px) {
    :root{
		font-size: 15px;
    }
	.center__point{
		width: 3rem;
		height: 3rem;
		right: calc(50% - 1.5rem);
		top: calc(50% - 1.5rem);
	}
}